{% extends "layout2.html" %}
{%  block content %}
<section id="portfolio" class="portfolio">
  <div class="container my-2" data-aos="fade-up">
   <div class="section-title pt-5">
    <h2>Timing</h2>
    <p>Choose a Location and pick a time, it's that simple!</p>
  </div>

  <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
    <li data-filter="*" class="filter-active">Fast Charging</li>
    <li data-filter=".filter-NITT">Normal Charging</li>
  </ul>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

</div>
</div>
</section>

<!-- End Timing Section -->      
{%  endblock content %}